body
{
  font-family:'Comic Sans MS', sans-serif;
  font-size: 120%;
}

header
{
  background-color: #7fffd4;
}

nav
{
  background-color: #7fffd4;
}

main
{
  background-color: #ffe4c4;
  font-size: 15px;
}

footer
{
  background-color: #f0ffff;
}

li
{
  display: inline-flex;
  width: 200px;
}

h1
{
  text-align: justify ;
  font-family: "Courier New", monospace;
  color: #006400;
}

p
{
  line-height: 1.5;
}